body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.img--notebook{

    width: 90%;
    height:50%;

}

/* 
.parrafo-pie{
    width: 100%;
    height: 15vh;
    background-color: black;
    padding-top: 17px;
}


footer{
    margin-top: 15px;
} */